h1 {
            color: black;
            background-color:rgb(205, 50, 156);
            text-align: center;
        }

        body
        {
            background-color: rgb(6, 251, 46);
        }

        p
        {
            background-color: rgb(255, 0, 0);
            color: rgb(255, 255, 255);
            font-size: 20px;
            text-align : center;
        }
        .bg-colour-red
        {
            background-color: rgb(12, 185, 238);
        }
        .bg-colour-green
        {
            background-color: rgb(140, 12, 231);
        }  
         
       #pg-background
        {
            background-color: rgb(10, 33, 241);
        }

        p{
            
            background-color: rgb(255, 0, 0);
            color: rgb(255, 255, 255);
            font-size: 20px;
            text-align : center;
        }